body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('fondo.jpg');
    background-size: cover;
    background-position: center;
    color: black;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    
    padding: 20px;
}

.header img {
    width: 100px; 
     
}

.body {
    padding: 20px;
}

.footer {
    background-color: #333;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color:white;
}